.App {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.App .todo {
  display: flex;
  font-size: 18px;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 15px;
  text-align: left;
}

.App .todo .controls {
  margin-left: auto;
}

.App .todo .removeTask {
  margin-left: 10px;
  color: #8b0000;
  cursor: pointer;
}

.App .todo .doneTask {
  font-size: 26px;
  line-height: 20px;
  color: #009900;
  cursor: pointer;
}

.App .todo .strike {
  text-decoration: line-through;
} 

.todoForm {
  text-align: left;
}

.todoForm .form-control {
  font-size: 22px;
  width: 100%;
  height: 50px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.todoForm button {
  padding: 10px;
  font-size: 16px;
  font-weight: 900;
  border: none;
  border-radius: 5px;
  background: #009900;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-primary {
  margin-top: 15px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
